body {
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.startTitle {
  font-size: 3rem;
  margin-bottom: 10px;
}

@keyframes bomb-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.logo-bomb {
  width: 75px;
  height: auto;
  animation: bomb-pulse 2s infinite;
}


.word {
  font-size: 2.5rem;
  background-color: #333;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-word {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.input-id {
  font-size: 1rem;
  padding: 8px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.timer {
  font-size: 2rem;
  margin-top: 20px;
}

.correct {
  color: #4caf50;
}

.wrong {
  color: #f44336;
}
